.foot {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 1rem;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.githubLink, .githubLink:hover {
    color: orange;
}